* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px;
}

.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

img {
  width: 200px;
  height: 200px;
}

.transdog {
  width: 100px;
  height: 100px;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-flip {
  transform: rotateY(180deg);
}
